.biank{
    border:1px solid #e5e5e5;
}
.biank h5{
    background-color:#f9f9f9;
    font: 0.8rem 微软雅黑;
    color: #333333;
    font-weight: bold;
    border-bottom:1px solid #e5e5e5;
    border-left:1px solid #e5e5e5;
}
.biank ul{
    font: 0.8rem 微软雅黑;
    color: #333333;
    list-style: none;
}
.biank ul a{
    list-style:none;
    font: 0.7rem 微软雅黑;
    color: #666666;
}
.biank ul a:hover{
    color: #666666;
    text-decoration: none;
}
.biank ul li::before{
    content: "·";
    margin-right:0.5rem;
    font-weight: bold;
}
.biank ul li:hover{
    background-color: #9fe6ff;
}
.biaot{
    vertical-align:middle;
}
.biaot a img{
    width: 1.1rem;
    margin-top: -0.2rem;
    margin-right: 0.5rem;
}

.top{
    display: flex;
    justify-content:space-between;
    margin-bottom:1rem;
}
.top .left button{
    border: 1px solid #cccccc;
    background-color: #f1edec;
    color:#727272;
    width:5rem;
}
.top .left button img{
    width:20%;
}

.top .right span{
    color: #727272;
    margin-right: 0.5rem;
}
.top .right button{
    border: 1px solid #cccccc;
    background-color: #f1edec;
    width:2rem;
}
.top .right button img{
    width:100%;
}


.bottom .btn-group{
    float: right;
}
.btn-group>.btn{
    border-radius: 0;
    border: 1px solid #e3e3e3;
    background-color: #f1edec;
    color:#727272;
}
.btn-group>.btn:hover{
    background-color: #cccccc;
}
.btn-group>.btn:not(:first-child) {
    margin-left: 0.5rem;
}

.mido{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mido>div{
    width: 180px;
    margin-bottom: 1rem;
}
.mido>div img:first-child{
    width:100%;
    margin-bottom: 0.5rem;
}
.mido>div img:not(:first-child){
    width:18.01%;
    border: 1px solid #e3e3e3;
}
.mido>div img+span{
    font:14px 微软雅黑;
    color:#cc0000;
}
.mido>div span+p{
    font: 12px 微软雅黑;
    color:#666666;
    margin-top: 16px;
    margin-bottom: 0;
}
.mido>div p+span{
    font: 12px 微软雅黑;
    color:#999999;
}
.mido>div p+span span{
    color:#ff2d2d;
}
