h5{
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 1rem;
    padding-left:1rem;
}
h5+ul{
    list-style:none;
    font:14px 微软雅黑;
    color:#000;
    padding-left:1rem;
}
h5+ul li:first-child input{
    vertical-align:  middle;
}
.shopping{
    border:1px solid #e6e6e6;
    background-color:#fcfcfc;
    margin-top:1rem;
}
.shopping>ul{
    list-style:none;
    margin:1rem;
    margin-right:0;
    padding-left: 0px;
    font:14px 微软雅黑;
    color:#000;
}
.shopping>ul .col-2 div{
    width:82px;
    height:82px;
    border:1px solid #e6e6e6;
    display: inline-block;
    vertical-align: top;
}
.shopping>ul .col-2 div img{
    width:100%;
}
.shopping>ul .col-1 input{
    width:38px;
    height:23px;
    border:1px solid #aaaaaa;
    font:12px 微软雅黑;
    color:#000;
    padding: 5px;
}
.shopping>ul .col-1 a{
    color:#000000;
}
.shopping>ul .col-6 div{
    font:12px 微软雅黑;
    color:#000;
    display: inline-block;
    width:41%;
    vertical-align: top;
}
.shopping>ul .col-6 div+div p {
    margin-bottom: 0;
}

.settlement{
    background-color:#e5e5e5; 
}
.settlement::after{
    content:"";
    display: block;
    clear: both;
}
.settlement>ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font: 14px 微软雅黑;
    color: #000;
    float: left;
}
.settlement>ul li{
    padding: 15px 0;
}
.settlement ul+ul{
    float: right;
}
.settlement .left li+li{
    margin-left: 15px;   
}
.settlement .right li+li{
    margin-left: 15px;   
}
.settlement .right .jis{
    padding:0;
}
.settlement .right .jis button{
    width:120px;
    line-height:49px;
    background-color:red;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    border:none;
}

